<div class="category">
    <h3>Danh mục sản phẩm</h3>
    <ul>
        <li>Áo dài</li>
        <li>Áo khoác</li>
        <li>Túi xách</li>
        <li>Ví</li>
        <li>Giày</li>
        <li>Thắt lưng da</li>
        <li>Tủ lạnh</li>
        <li>TiVi</li>
        <li>Quạt điện</li>
        <li>Lò sưởi</li>
    </ul>
    <div class="banner">
        <img src="~/images/banner/banner.jpeg" alt="Khuyến mãi" />
    </div>
</div>
